:root {
  --bg-color: #006d77;
  --second-color: #f08700;
  --light-red: #ed6b5ace;
  --green-valid: #83c5be;
  --red-invalid: #ff1654;
  --neu-darker: #005d65;
  --neu-white: #007d89;
  --black: #1b1b1e;
  --white: #e4f6fc;
  --blur-big-box: 18px;
  --offset-big-box: 8px;
  --offset-big-box-neg: -8px;
}
