:root {
  --bg-color: #dedede;
  --neu-darker: #c1c1c1;
  --neu-white: #fbfbfb;
}

* {
  background-color: #dedede;
}
input[type=number] {
  border: 1px black;
  border-radius: 50px;
  background: var(--bg-color);
  box-shadow: inset 4px 4px 7px var(--neu-darker), inset -4px -4px 7px var(--neu-white);
  width: 5vw;
  height: 30px;
  max-width: 100px;
  min-width: 50px;
  font-size: 25;
  
}
.taille-container {
  height: 10vh;
  width: 400px;
  /*background: salmon;*/
  border: solid 1px #ece9e5;
  background: var(--bg-color);
  box-shadow:  10px 10px 21px var(--neu-darker), -10px -10px 21px var(--neu-white);      
  display: flex;
  border-radius: 10px;
  margin-left: 50px;
}

.taille-container label {
  /*background: blue;*/
}
label {
  font-family: Open-sans, sans-serif;
}
.jumbo {
  /*background: salmon;*/
  text-align: center;
}

.jumbo h1 {
  font-family: open-sans, sans-serif;
  color: rgba(37, 37, 37, 0.9);
}
  