
input[type=number] {
  border: solid 1px black;
  border-radius: 10px;
  width: 5vw;
  height: 30px;
  max-width: 100px;
  min-width: 50px;
}
.taille-container {
  height: 10vh;
  width: 400px;
  /*background: salmon;*/
  border: solid 1px #ece9e5;     
}

label {
  font-family: 'Open-sans', sans-serif;
}
.jumbo {
  /*background: salmon;*/
  text-align: center;
}

.jumbo h1 {
  font-family: 'Open sans', sans-serif;
  color: rgba(37, 37, 37, 0.9);
}
  