@import './colors.css';

* {
  color: var(--white);
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--white);
}

.jumbo {
  font-family: 'Lato', sans-serif;
  color: var(--black);
  text-align: center;
}

.jumbo :last-child::before,
.jumbo :nth-child(5)::before,
.jumbo :nth-child(4)::before {
  /*content: '3';*/
  margin-right: 10px;
  font-size: 1rem;
  background: var(--bg-color);
  display: inline-block;
  color: var(--white);
  border-radius: 50%;
  padding: 5px;
  height: 20px;
  min-width: 20px;
  box-shadow: 3px 3px 7px #005d65, -3px -3px 7px #007d89;
}
.jumbo :last-child::before {
  content: '3';
}
.jumbo :nth-child(5)::before {
  content: '2';
}
.jumbo :nth-child(4)::before {
  content: '1';
}

.ligne {
  width: 60%;
  height: 2px;
  border-bottom: solid 1px var(--neu-darker);
  margin: auto;
  border-color: var(--white);
}

.data-container {
  background: royalblue;
  width: 100%;
  height: 60vh;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.data-card {
  background: salmon;
  width: 28%;
  border-radius: 20px;
  text-align: center;
}
