:root {
  /*///////.  COLORS ////////////////////*/
/**/
  --bg-color: #006d77;
  --second-color: #f08700;
  --light-red: #ed6b5aa8; /* ancien rouge plus opaque ed6b5ace*/
  --green-valid: #83c5be;
  --red-invalid: #ff1654;
  --neu-darker: #005d65;
  --neu-white: #007d89;
  --black: #1b1b1e;
  --white: #e4f6fc;

  /*////////////////// VAR NEUMORPHISM /////////////////////*/
  --blur-big-box: 18px;
  --offset-big-box: 8px;
  --offset-big-box-neg: -8px;
  --neu-little-input: inset 2px 2px 4px #005d65, inset -2px -2px 4px #007d89;
  --neu-little-input-focus: inset 4px 4px 4px #005d65,
    inset -4px -4px 4px #007d89;
  --neu-little-element: 1px 1px 3px #005d65, -1px -1px 3px #007d89;
  --neu-button-color: 8px 8px 16px #004c53, -8px -8px 16px #008e9b;
  --neu-button-bg: inear-gradient(145deg, #00757f, #00626b);
  --neu-button-bg-hover: linear-gradient(145deg, #00626b, #00757f);
  --neu-button-color-hover: 8px 8px 16px #004c53, -8px -8px 16px #008e9b;
  --neu-input-green: inset 2px 2px 4px #6fa7a2, inset -2px -2px 4px #97e3db;
  --neu-big-input: inset 5px 5px 10px #005c64, inset -5px -5px 10px #007e8a;
  --neu-big-box: 8px 8px 18px #005d65, -8px -8px 18px #007d89;
  --neu-med-box: 6px 6px 12px #005d65, -6px -6px 12px #007d89;
  /*/ //////////////// VAR PSEUDO-ELEMENTS ////////////////////*/
}

/*///////////  ANIMATION CLASSES /////////////////////////*/

/*FADE OUT LEFT*/
/*@-webkit-keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.animate__fadeOutLeft {
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}*/

/****** FADE OUT LEFT BIG *******/
@-webkit-keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    height: 0px;
  }
}
@keyframes fadeOutLeftBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    height: 0px;
  }
}
.animate__fadeOutLeftBig {
  -webkit-animation-name: fadeOutLeftBig;
  animation-name: fadeOutLeftBig;
  animation-duration: 1s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/* FADE IN UP*/
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*FADE IN UP BIG*/
@-webkit-keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: auto;
  }
}
.animate__fadeInUpBig {
  -webkit-animation-name: fadeInUpBig;
  animation-name: fadeInUpBig;
  animation-duration: 1s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

/*FADE IN LEFT BIG*/
@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: auto;
  }
}
.animate__fadeInRightBig {
  -webkit-animation-name: fadeInRightBig;
  animation-name: fadeInRightBig;
  animation-duration: 1s;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
