.card2 {
  max-width: 20vw;
  box-sizing: content-box;
  padding-bottom: 20px;
}

.pofa-card,
.container_classic-drugs,
.container_monito, .dex-card-container{
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 90%;
  box-shadow: var(--neu-big-input);
  border: solid 4px var(--bg-color);
  padding: 8px 0px;
}

.dex-card-container{
  min-height: auto;
}
.container_classic-drugs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.classic-drug-card p {
  margin-bottom: 15px
}

.classic-drug-card strong {
  padding: 3px;
  border-radius: 3px;
  color: var(--black);
}

/* ::::::::: styling pour faire effet etiquettes de couluer comme sur le palteau ::::::*/

.classic-drug-card :first-child strong {
  background-color: rgb(133, 199, 227);
}

.classic-drug-card :nth-child(2) strong {
  background-color: rgb(255, 255, 43);
}

.classic-drug-card :nth-child(3) strong {
  background-color: rgb(255,0,0);
  color: rgb(255, 250, 250);
}
.classic-drug-card :nth-child(4) strong {
  background-color: rgb(222, 191, 217);
}

.classic-drug-card :nth-child(5) strong {
  color: var(--white)
}
.classic-drug-card :nth-child(6) strong {
  color: var(--white)
}

.pofa-card ul {
  font-size: 0.6rem;
  text-align: start;
  list-style: none;
}

.pofa-card img {
  width: 30px;
  display: inline-block;
}

.pofa-card__flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 0.6rem;
}
.pofa-card__inside-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pofa-card__flex-container ul {
  border-left: 1px solid var(--white);
  padding: 10px;
}

.dex-card {
  font-size: 0.8rem;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.inner-card {
  font-size: 0.8rem;
}

/*:::::::::::::::::pastille d'inforamtion sur quelle est chaque carte de prépration du palteau :::::::::::*/

.pastille-carte {
  position: absolute;
  transform-origin: top left;
  transform: translate(5px,-90%);
  min-height: 10px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5px;
  background-color: var(--green-valid);
  color: var(--black);
  font-size: 0.7rem;
}

/*:::::::::::::: boutons pour le mobile exclusivemnt::::::::::::*/
.button-mobile-return, .button-mobile-valid {
  display: none;
}
